/*start global rules*/
:root{
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background:#f6f6f6;
    --font-color:#777;
    --sentence-distance: 1.6;
    --main-transition:0.5s;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}    
body{
    font-family: "Work Sans","Sans-serif";
}

.parent{
    background-color: #eee;
}
.container{

    margin: auto;
    /* width: 600px;  */
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    
}
@media (min-width:768px)
{
    .container{
        width: 750px;
    }
} 
@media (min-width:992px)
{
    .container{
        width: 970px;
    }
} 
@media (min-width:1200px)
{
    .container{
        width: 1170px;
    }
} 

/*end global rules*/
/* start components */
.special-heading{
    color: #ebeced;
    font-size: 100px;
    text-align: center; 
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;   
}
.special-heading + p {
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
}
@media(max-width: 767px){
    .special-heading{
        font-size: 60px;
    }
    .special-heading + p{
        margin-top: -20px;
    }

}

/* end components */
/* Start header  */
.header{
    padding: 20px;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    width: 60px;
}
.header .links{
    position: relative;
}

.header .links .icon:hover span:nth-child(2) {
width: 100%;
}
.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
    
}
.header .links .icon span:first-child{
    width: 100%;
}
.header .links .icon span:nth-child(2){
    width: 60%; 
    transition: var(--main-transition);
}
.header .links .icon span:last-child{
    width: 100%;
}
.header .links ul{
    margin: 0;
    padding: 0;
    z-index: 1;
    list-style: none;
    position: absolute;
    right: 0;
    min-width: 200px;
    background-color: var(--section-background);
    top: calc( 100% + 15px);
    display: none;
}
.header .links:hover ul {
    display: block;

}
.header .links ul::before{
    content: "";
    position: absolute;
    border-style: solid;
    border-color:  transparent  transparent var(--section-background) transparent;
    border-width: 10px;
    top :-20px;
    right: 5px;
}
.header .links ul li a {
    text-decoration: none;
    display: block;
    padding: 15px;
    color: #333;
    transition: var(--main-transition);

}
.header .links ul li a:hover {
    padding-left: 25px;
} 
.header .links ul li:not(:last-child) a {
    border-bottom: solid #ddd 2px;
}

/* End header  */

/* start landing section*/
.landing{
    background-image: url(../images/mountain.webp);
    background-size: cover;
    height:calc(100vh - 64px ) ;
    position: relative;
    
}


.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 320px;

}
.landing .intro-text h1{
    margin: 0;
    font-size: 50px;
    font-weight: bold;
    color: var(--main-color);
}
.landing .intro-text p{
    font-size: 19px;
    line-height: 1.8;
}
/* end landing section*/
/* start feature */
.features{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);

}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px,1fr));
    gap: 20px;
}
.features .feat{
    padding: 20px;
    text-align: center;
}
.features .feat i{
    color: var(--main-color);
    font-size: 30px;
}
.features .feat h3{
    font-weight: 800;
    margin: 30px 0;   
}
.features .feat p{
    line-height:1.8;
    color: var(--font-color);
    font-size: 17px;
}
/* end feature */
/* start services */
.services{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.services .services-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px , 1fr));
    gap: 30px;
    margin-top: 100px;
}
.services .services-content .srv{
    display: flex;
    margin-bottom: 40px;
}
@media(max-width: 767px){
    .services .services-content .srv{
        flex-direction: column;
        text-align: center;
    }
}
.services .services-content .srv i{
    color: var(--main-color);
    flex-basis: 60px;
}
.services .services-content .srv .text{
    flex:1 ;
}
.services .services-content .srv .text h3{
   margin: 0 0 20px;
}
.services .services-content .srv .text p{
 color: var(--font-color);
 font-weight: 300;
 line-height: var(--sentence-distance);
}
.services .services-content .image{
    position: relative;
   text-align: center;
}
.services .services-content .image::after{
    right: 0;
    position: absolute;
    top: -50px;
    width: 100px;
    content: "";
    z-index: -1;
    height: calc(100% + 100px);
    background-color: var(--secondary-color);
}
.services .services-content .image img{
    width: 260px;
}
@media(max-width:1199px){
    .image-column{
        display: none;
    }
}
/* end services */
/* start portfolio */
.portfolio{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.portfolio .portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 80px;
}
.portfolio .portfolio-content .card{
    background-color: white;
}
.portfolio .portfolio-content img{
    
    max-width: 100%;
    height: 300px;
}

.portfolio .portfolio-content .info{
    padding: 20px ;
}
.portfolio .portfolio-content .info h3{
    margin: 0;
}
.portfolio .portfolio-content .info p{ 
    color: var(--font-color);
    line-height: var(--sentence-distance);
}
/* end portfolio */
/* Start About */
.About{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.About .About-content {
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    margin-top: 100px;
}
@media( max-width:991px){
    .About .About-content{
        flex-direction: column;
        text-align: center;
    }
}


.About .About-content .image{
    position: relative;
    width: 250px;
    height: 375px;
}
.About .About-content .image::before{
    content: "";
    position: absolute;
    width: 100px;
    height: calc(100% + 80px);
    background-color: #ebeced;
    top: -40px;
    left: -20px;
    z-index: -1;
}
.About .About-content .image::after{
content: "";
border-bottom: 80px solid var(--main-color);
width: 120px;
position: absolute;
height: 300px;
border-left: 80px solid var(--main-color);
z-index: -1;
top: -40px;
right: -150px;
}
@media( max-width:991px){
    .About .About-content .image::before, 
    .About .About-content .image::after{
        display: none;
    }
}
.About .About-content .text{
    flex-basis: calc(100% - 500px);
}

.About .About-content img{
    max-width: 100%;
    height:  375px;
}

@media( max-width:991px){
    .About .About-content .image{
        margin: 0 auto 60px ;
    }
}

.About .About-content p:first-of-type{
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}
.About .About-content hr{
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
    
}
.About .About-content p:last-of-type{
    line-height: 2;
    color: var(--font-color);
}
/* End About */
/* Start Contact */ 
.contact{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.contact .info{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}
.contact .info .label{
    font-size: 40px;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px ;
}
.contact .info .link {
    display: block;
    color: var(--main-color);
    font-size: 40px;
    font-weight: 800px;
    text-decoration: none ;

}
.contact .info .social{
    font-size: 18px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.contact .info .social i{
    margin-left: 10px;
    color: var(--secondary-color);
}
@media(max-width:767px)
{
    .contact .info .label,
    .contact .info .link{
        font-size: 25px;
    }
}
/* End Contact */
/* start footer */
.footer{
    background-color: var(--secondary-color);
    color: white;
    padding:30px 10px;
    text-align: center;
    font-size: 18px;
}
.footer span{
    font-weight: bold;
    color: var(--main-color );
}
/* End footer */